<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cashgrantsmobile">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/cglogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CashGrantsMobile">
<!--        android:name=".MainActivity"-->
<!--        android:name=".Login.Activity_Splash_Login"-->
<!--        android:name=".MainActivity"-->

        <activity
            android:name=".Login.Activity_Splash_Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity
            android:name=".Scanner.ScanCashCard"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".Scanner.ScannedDetails"
            android:parentActivityName=".Scanner.ScanCashCard"/>
        <activity
            android:name=".Inventory.InventoryList"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Sync.SyncData"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Sync.SpinnerLoading"
            android:parentActivityName=".Sync.SyncData"/>

        <activity
            android:name=".Scanner.ActivityHome"
            android:parentActivityName=".Scanner.ScanCashCard"/>

        <activity
            android:name=".MainActivity"
            android:parentActivityName=".Login.Activity_Splash_Login"/>

        <activity
            android:name=".Signatories.Accomplish"
            android:parentActivityName=".Scanner.ScannedDetails"/>

        <activity
            android:name=".Signatories.Informant"
            android:parentActivityName=".Scanner.ScannedDetails"/>

        <activity
            android:name=".Signatories.Attested"
            android:parentActivityName=".Scanner.ScannedDetails"/>

    </application>

</manifest>